<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculate</title>
</head>
<body>
    <h2>grade calculator</h2>

    {% if error %}
        <p style="color: red;">{{error}}</p>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <label>name: <input type="text" name="name" ></label><br><br>
        <label>total marks: <input type="number" name="marks"></label><br><br>

        <button type="submit">calculate</button>
    </form>
</body>
</html>