# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django migrations
*/migrations/*
!*/migrations/__init__.py  # Keep init files for package structure

# Ignore database files
db.sqlite3
*.db

# Ignore Virtual Environment (venv)
venv/
env/

# Ignore environment variables
.env

# Ignore Django core files
*/wsgi.py
*/models.py
*/__init__.py
*/settings.py

# Ignore system files
.DS_Store
*.swp
*.swo

# Ignore VS Code settings
.vscode/
